<table align="center" width=100%>
    <tr>
        <td width="12%">
            <img src="images/RA_Logo.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Basic Python Programming <br>(Day 1)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Using print()](#print)**
2. **[Data types](#types)**
3. **[Arithmetic Operations](#arithmetic)**
4. **[String Operations](#string)**
5. **[Boolean Operations](#boolean)**
6. **[Concatenation](#concatenation)**
7. **[Pseudo Codes](#pseudo)**

### Let's begin with some hands-on practice exercises

<a id = "print"> </a>
## 1. Using print()

<table align="left">
    <tr>
        <td width="4%">
            <img src="images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. To display a statement. For example, "Hello, How are you?" </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
#1. To display a statement. For example, "Hello, How are you?"
print("Hello, How are you?")

Hello, How are you?

In [12]:
#1a. Displaying a string as variable (variable: identifier = literal), (= assignment operator) 

myMsg = "Welcome to Python Programming"
print(myMsg)

Welcome to Python Programming

In [9]:
#1b. Displaying the datatype of the variable
print(type(myMsg))

<class 'str'>

In [14]:
#1c. Displaying a numberic value - (variable: identifier = literal), (= assignment operator) 

myMsg = 99999
print(myMsg)

99999

In [15]:
#1d. Displaying the datatype of the variable
print(type(myMsg))

<class 'int'>

In [20]:
#1e. Displaying a string enclosed in single, double and spread across multiple lines
myMsg_1 = "Python is case sensitive"

print(myMsg_1)
print(type(myMsg_1))

Python is case sensitive
<class 'str'>

In [32]:
myMsg_1.upper()

'PYTHON IS CASE SENSITIVE'

In [33]:
myMsg_1.lower()

'python is case sensitive'

In [34]:
myMsg_1.capitalize()

'Python is case sensitive'

In [21]:
#1f. Displaying a string enclosed in single quotes

myMsg_2 = 'Single quotes for short strings.'
print(myMsg_2)

Single quotes for short strings.

In [22]:
#1g. Displaying a string enclosed in double quotes
myMsg_3 = "Double quotes for flexibility."
print(myMsg_3)

Double quotes for flexibility.

In [23]:
#1h. Displaying a string enclosed in tripple quotes spread across multiple lines

myMsg_4 = """

Triple quotes 
for 
multiline text.

"""

print(myMsg_4)

Triple quotes
for
multiline text.

In [24]:
#1i.  The id() function returns the unique identifier (memory address) of an object.

a = 99
b = 99
print(a)
print(b)
print(type(a))
print(type(b))
print(id(a))
print(id(b))
print(id(99))

99
99
<class 'int'>
<class 'int'>
4369257904
4369257904
4369257904

In [25]:
#1j.  The id() function returns the unique identifier (memory address) of an object.

a = 257
b = 257
print(a)
print(b)
print(type(a))
print(type(b))
print(id(a))
print(id(b))
print(id(257))

257
257
<class 'int'>
<class 'int'>
4457917264
4460942320
4460943568

In [26]:
#1k.  The id() function returns the unique identifier (memory address) of an object.

a = 'hello99 world'
b = 'hello99 world'
print(a)
print(b)
print(type(a))
print(type(b))
print(id(a))
print(id(b))

hello99 world
hello99 world
<class 'str'>
<class 'str'>
4435360880
4435360624

In [30]:
#1l  Python is case sensitive

temp = 22
Temp = 45

print("temp = ", temp)
print("Temp = ", Temp)

temp =  22
Temp =  45

<table align="left">
    <tr>
        <td width="4%">
            <img src="images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Display the following pattern using print() </b>
                </font>
            </div>
        </td>
    </tr>
</table>

            *    
           ***    
          *****   
         *******  
        *********

In [16]:
# type your code here
#2. Display the following pattern using print()

print('    *   ')
print('   ***  ')
print('  ***** ')
print(' ******* ')
print('*********')

    *
   ***
  *****
 *******
*********

In [14]:
for i in range(1, 6):
    print(' ' * (5 - i) + '*' * (2 * i - 1))

    *
   ***
  *****
 *******
*********

<table align="left">
    <tr>
        <td width="4%">
            <img src="images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write the alphabets 'A', 'B', 'C' on new lines using a single print function. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
# type your code here

print('\n', 'A','\n', 'B', '\n', 'C')

 A
 B
 C

<a id = "types"> </a>
## 2. Data types

<table align="left">
    <tr>
        <td width="4%">
            <img src="images/RA_Logo.png">
        </td>        
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Declare a string variable and check its data type.**

In [17]:
# type your code here

# String variable
string_var = "Hello, world!"

# Numeric variables
numeric_var_int = 42
numeric_var_float = 3.14

# Boolean variable
bool_var = True

# Checking data types
print("Data type of string_var:", type(string_var))
print("Data type of numeric_var_int:", type(numeric_var_int))
print("Data type of numeric_var_float:", type(numeric_var_float))
print("Data type of bool_var:", type(bool_var))

# Check if numeric_var_int is a whole number
if isinstance(numeric_var_int, int):
    print("numeric_var_int is a whole number")

# Check if numeric_var_float has a decimal point
if isinstance(numeric_var_float, float):
    print("numeric_var_float has a decimal point")

Data type of string_var: <class 'str'>
Data type of numeric_var_int: <class 'int'>
Data type of numeric_var_float: <class 'float'>
Data type of bool_var: <class 'bool'>
numeric_var_int is a whole number
numeric_var_float has a decimal point

**Declare a numeric variable and check its data type.** <br>
i. An interger variable.

In [6]:
# type your code here

int_var = 123456

print(type(int_var))

<class 'int'>

ii. A fractional variable

In [7]:
# type your code here

float_var = 123456.78

print(type(float_var))

<class 'float'>

**Declare a boolean variable and check its data type.**

In [8]:
# type your code here

bool_var = True

print(type(bool_var))

<class 'bool'>

<table align="left">
    <tr>
        <td width="4%">
            <img src="images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a complex number and assign it the name 'comp'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
# type your code here

comp = 2+3j
print(type(comp))

<class 'complex'>

<table align="left">
    <tr>
        <td width="4%">
            <img src="images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Convert a float variable f = 23.45 to integer.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
# type your code here

f = 23.45 
print(type(f))

<class 'float'>

In [11]:
# type your code here
f = int(23.45)
print(type(f))

<class 'int'>

<table align="left">
    <tr>
        <td width="4%">
            <img src="images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Create a numberic variable and convert it to a string.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [12]:
# type your code here
num_var = 456
print(type(num_var))

<class 'int'>

In [147]:
# type your code here

num_var = str(456)
print(type(num_var))

<class 'str'>

<a id= "arithmetic"></a>
## 3. Arithmetic Operations

<table align="left">
    <tr>
        <td width="4%">
            <img src="images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [13]:
# type your code here

<table align="left">
    <tr>
        <td width="4%">
            <img src="images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Evaluate  and print the results of the following <br>
                        <ol type = '1'> 
                            <li> 1353 plus 234 </li> 
                            <li> 2355 minus 346 </li>
                            <li> 234 times 457 </li>
                            <li> 25 divided by 6 </li>
                            <li> Obtain remainder of  25 divided by 6 </li>
                            <li> 33 raised to 4 </li> 
                            <li> 45 divided by 6  (floor division)
                            <li> 2 raised to 10</li></ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [149]:
# type your code here

a = 1353 + 234
print(a)

1587

In [150]:
# type your code here

b = 2355 - 346
print(b)

2009

In [151]:
# type your code here

c = 234 * 457
print(c)

106938

In [152]:
# type your code here

d = 25/6
print(d)

4.166666666666667

In [153]:
# type your code here

e = 25 % 6
print(e)

1

In [154]:
# type your code here

f = 33 ** 4
print(f)

1185921

In [156]:
# type your code here

g = 45 // 6
print(g)

7

In [157]:
# type your code here

h = 2 ** 10
print(h)

1024

<a id="string"></a>
## 4. String Operations

<table align="left">
    <tr>
        <td width="4%">
            <img src="images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Create a string with the name 'country' and 'India' as its element. Perform the following on it:
                    <ol type = "1">
                        <li>Find its length. </li>
                        <li>Extract it first two letters. </li>
                        </ol></b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [159]:
# type your code here

country = "India"
print(type(country))

print(country[0:2])

<class 'str'>
In

In [23]:
# type your code here

In [24]:
# type your code here

<table align="left">
    <tr>
        <td width="4%">
            <img src="images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Given the string 'Today is a sunny day.' 
                        <ol > <li>  Write a code to get 'Today'  and 'sunny'. </li>
                             <li>  Obtain the last two letters. </li>
                             <li>  Write the statement backwards.</li>
                        </ol> </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [163]:
# type your code here
given_str = 'Today is a sunny day.'

print(given_str[0:5])
print(given_str[11:17])

Today
sunny

In [169]:
# type your code here

print(given_str[-2:])

y.

In [171]:
# type your code here

print(given_str[::-1])

.yad ynnus a si yadoT

<a id="boolean"></a>
## 5. Boolean Operations

<table align="left">
    <tr>
        <td width="4%">
            <img src="images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [174]:
# type your code here

a = (54+34) * 45
b = (0.9*2432)/0.9

print(a)
print(b)

if (a == b):
    print(" a is matching with b")
else:
    print("a is not matching with b")

3960
2432.0
a is not matching with b

**All relational operators can be used to get the a boolean output**

<a id="concatenation"></a>
## 6. Concatenation

<table align="left">
    <tr>
        <td width="4%">
            <img src="images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Create two strings and concatenate them using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [175]:
# type your code here

a = 'Vidya'
b = 'dhar'

c = a+b

print(c)

Vidyadhar

In [30]:
# type your code here

In [31]:
# type your code here

<table align="left">
    <tr>
        <td width="4%">
            <img src="images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Concatenate the variables 'num = 34 and 'string ='How old are you?' using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [177]:
# type your code here

num = 34
string = 'How old are you?'

num_string = str(num) + string
print(num_string)

34How old are you?

<a id= "pseudo"> </a>
## 7. Pseudo Codes

<table align="left">
    <tr>
        <td width="4%">
            <img src="images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a pseudo code to print table of 5 using 'for' loop.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [13]:
# type your code here

i = 5
for j in range(11):
    if j > 0:
        print(i, 'X', j, '= ' ,i*j)

5 X 1 =  5
5 X 2 =  10
5 X 3 =  15
5 X 4 =  20
5 X 5 =  25
5 X 6 =  30
5 X 7 =  35
5 X 8 =  40
5 X 9 =  45
5 X 10 =  50

<table align="left">
    <tr>
        <td width="4%">
            <img src="images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a pseudo code for generating a fibonacci series starting with 0 and 1 for 10 values using while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [25]:
# type your code here

num_1 = 0
num_2 = 1
ini_count = 0
final_count = 10

while ini_count < final_count:
    print(num_1, ' ', end='')
    nxt_num = num_1 + num_2 
    num_1 = num_2
    num_2 = nxt_num

    ini_count = ini_count + 1

0  1  1  2  3  5  8  13  21  34

<table align="left">
    <tr>
        <td width="4%">
            <img src="images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Write a pseudo code to know whether a number is greater than the other using 'if' statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [32]:
# type your code here

num_1 = int(input("Enter the first number"))
num_2 = int(input("Enter the second number"))

if num_1 > num_2:
    print("first number {} is greater than second number {}".format(num_1, num_2))
else:
    print("first number {} is not greater than second number {}".format(num_1, num_2))

Enter the first number4
Enter the second number1
first number 4 is greater than second number 1

<table align="left">
    <tr>
        <td width="4%">
            <img src="images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a pseudo code to check whether a number is divisible by 7 or not using if else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [24]:
# type your code here   

num_div_7 = int(input("Enter a number to check if divisble by 7 or not :"))

if num_div_7 % 7 == 0:
    print("entered number {} is divisible by 7".format(num_div_7))
else:
    print("entered number {} is not divisible by 7".format(num_div_7))

Enter a number to check if divisble by 7 or not :14
entered number 14 is divisible by 7

<table align="left">
    <tr>
            <td width="4%">
            <img src="images/RA_Logo.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Write a pseudo code to find factorial of a number using nested if-else statement. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
# type your code here


ent_num = int(input("Enter the number"))
factorial = 1

# check if the number is negative, positive or zero
if ent_num < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif ent_num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, ent_num + 1):
        factorial = factorial * i
    print("The factorial of",ent_num, "is", factorial)

Enter the number5
The factorial of 5 is 120

<table align="left">
    <tr>
        <td width="4%">
            <img src="images/RA_Logo.png">
        </td>    
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Write a pseudo to know whether a number is prime or not using for and if else statement.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [19]:
# type your code here

ent_num = int(input("Enter any number: "))

# prime number is always greater than 1
if ent_num > 1:
    for i in range(2, ent_num):
        if (ent_num % i) == 0:
            print(ent_num, "is not a prime number")
            break
    else:
        print(ent_num, "is a prime number")

# if the entered number is less than or equal to 1
# then it is not prime number
else:
    print(ent_num, "is not a prime number")

Enter any number: 4
4 is not a prime number